html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #09203F, #537895);
    background-size: 200% 100%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#home-title {
    margin-top: 80px !important;
    margin-bottom: 30px;
    width: fit-content; 
    font-size: 3vw;
    font-weight: bold;
    font-family: "Sky Ultra Condensed", "Arial", sans-serif;
    letter-spacing: 1px;
    color: #E0E0E0;
}

.post {
    margin-top: 20px;
    width: 70%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.05), 0 12px 24px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15), 0 14px 28px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px) brightness(1.1);
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

.post-info span {
    color: #caf0f8;
}

.like-count {
    color: salmon !important;
}

.post-title {
    display: inline-block;
    padding-bottom: 10px;
    width: fit-content;
    font-size: 1rem;
    font-weight: bold;
    color: #E0E0E0;
}

.thumbs-up {
   margin-right: 5px;
   color: #ffffff;
   cursor: pointer;
}

.thumbs-up:hover {
   color: #00bfff;
}

.thumbs-up-success {
    margin-right: 5px;
    color: #00bfff;
    cursor: pointer;
}

.category-Technology:hover {
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.7); 
}
.category-Travel:hover {
    box-shadow: 0 0 12px rgba(245, 21, 245, 0.7);
}
.category-Food:hover {
    box-shadow: 0 0 12px rgba(255, 165, 0, 0.7); 
}
.category-Lifestyle:hover {
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.7); 
}
.category-Cars:hover {
    box-shadow: 0 0 12px rgba(0, 255, 127, 0.7); 
}
.category-Sports:hover {
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.7); 
}
  
.modal-dialog {
    display: flex;
    /* width: 100%;
    max-width: 500px; */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-height: 70vh; 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    overflow: hidden;
}

.modal-body {
    padding: 20px;
    max-height: 50vh;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border: none;
    background-color: transparent;
}

.comment-header {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #E0E0E0;
    text-align: center;
}

.comment {
    margin-top: 10px;
    padding: 10px 20px 0px 20px;
    width: 100%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.05);
}

.comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-title {
    display: inline-block;
    padding-bottom: 10px;
    width: fit-content;
    font-size: 1rem;
    color: #E0E0E0;
}

.comment-field {
    padding: 8px 10px 0 10px;
    width: 100%;
    height: 15vh;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    color: #E0E0E0;
    resize: none;
    overflow-y: auto;
}

.comment-field:hover {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.comment-field:focus {
    border: 1px solid #ffffff55;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    outline: none;
}

.comment-field::placeholder {
    color: #fff;
    font-size: 0.9rem;
    opacity: 0.5;
}

.comment-field::-webkit-scrollbar {
    background-color: transparent;
}

.comment-button {
    margin-top: 20px;
    padding: 7px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #00bfff, #1e90ff);
    box-shadow: 0 4px 10px rgba(0, 191, 255, 0.3);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
  
.comment-button:hover {
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    box-shadow: 0 6px 14px rgba(0, 191, 255, 0.5);
    transform: translateY(-2px);
}

.comment-button:active {
    box-shadow: 0 2px 5px rgba(0, 191, 255, 0.2);
    transform: translateY(0);
}
